@page "/"
@using TraceabilityDriver.Models.MongoDB
@using TraceabilityDriver.Services

<div class="container" style="width: 1000px">
    <div class="row py-4">
        <div class="col-12">
            <TraceabilityDriver.Pages.Components.CurrentSyncComponent />
        </div>
    </div>
    <div class="row py-4">
        <div class="col-12">
            <TraceabilityDriver.Pages.Components.DatabaseReportComponent />
        </div>
    </div>
    <div class="row py-4">
        <div class="col-12">
            <TraceabilityDriver.Pages.Components.CapabilityTestComponent />
        </div>
    </div>
    <div class="row py-4">
        <div class="col-12">
            <TraceabilityDriver.Pages.Components.LogErrorsComponent />
        </div>
    </div>
</div>

@code {

}
