################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.v2/.vs/.v2
/.v2/.vscode
/.v2/TraceabilityDriver/Properties
