################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.v2/.vs/.v2
/.v2/.vscode
/.v2/TraceabilityDriver/Properties
/.v2/TraceabilityDriver/Properties/launchSettings.json
/.v2/.vs/ProjectEvaluation
/.v2/TraceabilityDriver/Logs
