################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/obj
**/bin
**/packages
.vs
TraceabilityDriverService/Properties/PublishProfiles/FolderProfile.pubxml.user
TraceabilityDriverService/Properties/PublishProfiles/FolderProfile.pubxml
TraceabilityDriverService/.config/dotnet-tools.json
TraceabilityDriverService/TraceabilityDriverService.csproj.user
