@layout TelerikLayout

@inherits LayoutComponentBase

@using DirectoryService.Services

@inject AccountService AccountService

<div class="page">

    @if (AccountService.IsLoggedIn == true)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <div class="main">
        <div class="top-row px-4">
            <a href="logout" target="_blank">Log Out</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>