

@inject AccountService AccountService
@inject IDBService DBService
@inject IJSRuntime JSRuntime

<TelerikWindow Visible="@Visible">
    <WindowActions>
        <WindowAction Name="Close"></WindowAction>
    </WindowActions>
    <WindowTitle>
        <span>Add Service Provider</span>
    </WindowTitle>
    <WindowContent>
        <div class="flex-row">
            <div class="flex-col-xs-12">
                <label>Service Provider Name</label>
                <Telerik.Blazor.Components.TelerikTextBox @bind-Value="ServiceProvider.Name" class="form-control" />
            </div>
        </div>
        <center style="margin-top: 20px;">
            <button class="k-button k-primary" @onclick="SaveServiceProvider" type="button" style="width: 100px;">Save</button>
            <button class="k-button" @onclick="Close" type="button" style="width: 100px;">Cancel</button>
        </center>
    </WindowContent>
</TelerikWindow>

@code {
    private ITEDirectoryServiceProvider ServiceProvider { get; set; }

    private bool Visible { get; set; }

    [Parameter]
    public Func<Task> OnSave { get; set; }

    public void New()
    {
        this.ServiceProvider = new TEDirectoryServiceProvider();
        this.Visible = true;
        StateHasChanged();
    }

    public void Edit(ITEDirectoryServiceProvider serviceProvider)
    {
        this.ServiceProvider = serviceProvider;
        this.Visible = true;
        StateHasChanged();
    }

    private void Close()
    {
        this.Visible = false;
        StateHasChanged();
    }

    private async Task SaveServiceProvider()
    {
        try
        {
            // save the service provider
            using (ITEDirectoryDB dirDB = DirectoryServiceUtil.GetDB(AccountService.ConnectionString))
            {
                await dirDB.SaveServiceProviderAsync(this.ServiceProvider);
            }

            // hide the window
            this.Visible = false;
            StateHasChanged();

            // call the callback
            if (OnSave != null)
            {
                await OnSave();
            }
        }
        catch (Exception Ex)
        {
            TELogger.Log(0, Ex);
#if DEBUG

#endif
        }
    }
}
