@using TestSolutionProvider.Services 

@layout TelerikLayout

@inherits LayoutComponentBase
@inject ISolutionProviderService SolutionProviderService 

    <style>
        .main {
            padding-bottom: 1.1rem;
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1;
        }
    </style>

<div class="page">
    <div class="sidebar sidebar-@SolutionProviderService.DataURL.ToLower()">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>